// Styles for colors
// GrayScale
$color-white: #FEFEFE;
$color-near-white: #EFEFEF;
$color-lgray: #CCCCCC;
$color-creme: #AAAAAA;
$color-gray: #999999;
$color-dgray: #666666;
$color-dark: #333333;
$color-near-black: #131313;
$color-black: #030303;

// Warm
$color-warm-first: #EAE7DC;
$color-warm-second: #D8C3A5;
$color-warm-third: #8E8D8A;
$color-warm-fourth: #E98974;
$color-warm-fifth: #E85A4F;

// Sharp
$color-sharp-first: #d83f87;
$color-sharp-second: #2A1B3D;
$color-sharp-third: #44318D;
$color-sharp-fourth: #E98074;
$color-sharp-fifth: #A4B3B6;

// Contrast
$color-contrast-first: #61892F;
$color-contrast-second: #86C232;
$color-contrast-third: #222629;
$color-contrast-fourth: #474B4F;
$color-contrast-fifth: #6B6E70;

// Used
$color-extra-deep-purple: #20002c;
$color-extra-lilac: #cbb4d4;