@mixin font-cardo {
  font-family: 'Cardo', serif;
}
@mixin font-dm-sans {
  font-family: 'DM Sans', sans-serif;
}
@mixin font-feredo {
  font-family: 'Federo', sans-serif;
}
@mixin font-krona-one {
  font-family: 'Krona One', sans-serif;
}
@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
}

