@import '@styles/typography';
html, body {
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	box-sizing: border-box;
	@include font-feredo;
	min-width: 100vw;
	min-height: 100vh;

	#app-wrapper {
		background: #CCC;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
}

a {
	color: rgb(0,100,200);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: rgb(0,80,160);
	}
}
